<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Index</title>
</head>

<body style="display:flex;flex-wrap: wrap;">
    <div class="liveobj-data"></div>
    <div style="max-width:300px">
        <canvas id="tempChart"></canvas>
    </div>
    <div style="max-width:300px">
        <canvas id="humChart"></canvas>
    </div>
    <div style="max-width:300px">
        <canvas id="presChart"></canvas>
    </div>
    <div style="max-width:300px">
        <canvas id="CO2Chart"></canvas>
    </div>
    <script src="/static/index.js"></script>
</body>

</html>
